<!DOCTYPE html>
<html>
  <head>
    <title>AICE cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  </head>

  <!--
  <body>
    <div class="toppage_container">
      <span class="note">
        AICE cloudは様々な機能が簡単に使えるコミュニケーションエンジンです。
      </span>

      <form method="post" action="/" class="entry">
        <input
          type="text"
          id="room_name"
          name="room_name"
          placeholder="部屋の名前"
          value="<%- room_name %>"
        />
        <input
          type="hidden"
          id="password"
          name="password"
          placeholder="パスワード"
          value="<%- password %>"
        />
        <input id="user_name" name="user_name" placeholder="名前" />
        <div class="center">
          <button class="button">
            会議を始める
          </button>
        </div>
      </form>
      <script>
      </script>
    </div>
  </body>
  -->
  <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div class="title">
        <p>クラウドオフィス会議室</p>
        Powered by <a href="https://aice.cloud" target="_blank">AICE.CLOUD</a>
      </div>
    </div>
    <form
      method="post"
      action="/"
      class="entry"
    >
      <div class="login">
        <input 
          type="text" 
          id="room_name" 
          name="room_name" 
          placeholder="ルーム名"
          value="<%- room_name %>" 
        />
        <input 
          type="text"  
          id="user_name"  
          name="user_name" 
          placeholder="名前"
        />

        <button>Login</button>
        <p class="kiyakulink">
          <a href="https://aice.cloud/aicha/kiyaku.txt" target="_blank"
            >利用規約</a
          >
        </p>
      </div>
    </form>

    <footer>
      Copyright © 2021
      <a href="https://aiforus.co.jp/" target="_blank">AIFORUS,Inc.</a>
    </footer>
    <script>
    </script>
  </body>
</html>
