<!DOCTYPE html>

<html>
  <head>
    <title><%- table_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/style_renew.css" />
    <link rel="stylesheet" href="/assets/css/uikit.css" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="is-preload">
    <div class="pageWrapper">
      <div class="leftArea">
        <div class="videoArea"></div>
        <div class="controlArea"></div>
      </div>
      <div class="rightArea">
        <div class="userArea"></div>
        <div class="chatArea"></div>
      </div>
    </div>

    <!-- リソースなど -->
    <div class="hidden">
      <input id="table_id" value="<%- table_id %>" />
      <input id="user_name" value="<%- user_name %>" />
    </div>
    <audio id="alert_se" preload>
      <source src="assets/sound/login.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_on_se" preload>
      <source src="assets/sound/mic_switch_on.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_off_se" preload>
      <source src="assets/sound/mic_switch_off.mp3" type="audio/mp3" />
    </audio>

    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/uikit.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vue_renew.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-seamless-scroll@1.1.17/dist/vue-seamless-scroll.min.js"></script>
    <script src="/script_renew.js"></script>
  </body>
</html>
