.pageWrapper {
}
.leftArea {
  width: auto;
}
.rightArea {
  width: 200px;
}
.videoArea {
  background-color: khaki;
  height: calc(100vh - 50px);
}
.controlArea {
  background-color: aliceblue;
  height: 50px;
}
.userArea {
  background-color: paleturquoise;
  height: 50%;
}
.chatArea {
  background-color: palevioletred;
  height: 50%;
}
