/************* ユーティリティ ***************/
.hidden {
  display: none;
}

/************* 全体構造 ***************/

.pageWrapper {
  display: flex;
  overflow: hidden;
}

.blackBG {
  background: #203744;
}
.pinkBG {
  background: #f2a0a1;
}
.blueBG {
  background: #3e62ad;
}
.purpleBG {
  background: #460e44;
}
.charcoalBG {
  /* background: #2a2a2a; */
  background: #000000;
}
.plumBG {
  background: #a57172;
}
.wisteriaBG {
  background: #6b8cab;
}
.blind4black {
  background: rgba(255, 255, 255, 0.15) !important;
}
.leftArea {
  width: calc(100vw - 300px);
}
.rightArea {
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  height: calc(100vh - 20px);
}
.videoArea {
  background: rgba(255, 255, 255, 0.4);
  /* background-color: khaki; */
  height: calc(100vh - 85px);
  padding: 15px 0px 0px 15px;
}
.controlArea {
  /* background-color: aliceblue; */
  height: 56px;
  padding: 7px;
}
.userArea {
  /* background-color: paleturquoise; */
  height: 50%;
}
.chatArea {
  /* background-color: palevioletred; */
  height: 50%;
}
.controlArea span.fab {
  margin: 0px 10px;
}

/************* ビデオエリア ***************/

.container {
  margin-left: 0px;
}
.videowrapper {
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.membersvideo {
  object-fit: cover;
}
.membername {
  position: relative;
  bottom: 50px;
  left: 10px;
  color: white;
  margin-bottom: -2.5rem;
  text-shadow: black 1px 1px 10px, black -1px 1px 10px, black 1px -1px 10px,
    black -1px -1px 10px;
}

.vc1 {
  width: 47%;
}

.vc2 {
  width: 47%;
}

.vc3 {
  width: 31%;
}

.vc4 {
  width: 23%;
}

.vc5 {
  width: 31%;
}

.vc6 {
  width: 31%;
}

.vc7 {
  width: 23%;
}

/************* コントロールエリア ***************/

.fab {
  /*円の部分*/
  /*display: block;*/
  width: 56px; /*幅*/
  height: 56px; /*高さ*/
  /* background: #03a9f4; */ /*背景色*/
  text-align: center; /*中央寄せ*/
  border-radius: 50%; /*角丸く*/
  transition: 0.3s; /*滑らかな動きに*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24); /*影*/
  padding-top: 0ex;
}

.fab:hover {
  /*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.fab i {
  /*中央のアイコン*/
  color: white;
  line-height: 56px; /*＝幅と高さ*/
  font-size: 18px; /*サイズ*/
  padding-top: 0ex;
}

.fab-off {
  /* background: linear-gradient(#808080, #b0c4de); */
  background: rgba(255, 255, 255, 0.2);
}
.fab-on {
  background: linear-gradient(#1e90ff, #40e0d0);
}
.fab-disable {
  background: #696969;
}
.fab-left {
  border-radius: 50% 0 0 50%;
  margin-right: 0px !important;
}
.fab-right {
  border-radius: 0 50% 50% 0;
  margin-left: -3px !important;
}

/************* ユーザーエリア ***************/

.member h4 {
  border-bottom: 3px solid #696969;
}
.member ul {
  list-style: none;
}
.goodicon {
  color: #f8b500;
}
.badicon {
  color: #38b48b;
}

/************* チャットエリア ***************/

.chat {
  border-top: solid 1px #696969;
  overflow-y: scroll;
  height: 100%;
  overflow-wrap: anywhere;
  height: calc(50vh - 60px);
}

.chat ul {
  margin-bottom: 70px;
  list-style: none;
}
.chatform input {
  padding: 10px;
  font-size: 15px;
  width: 265px;
  border: none;
  border-radius: 5px;
  margin: 10px 5px;
}
.formcontainer {
  position: absolute;
  bottom: 0px;
}

.linkinputtext {
  width: 90%;
  font-size: 16px;
  padding: 10px 10px;
}
